.button{
    padding: 22px;
    margin: 0 7px;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
}
.row{
    margin: 8px 0;
}
.row input{
  margin: 0;
  padding: 10px 30px;
  font-size: 20PX;
  border: 2px solid black;
  border-radius: 7px;
}
